.explore-kitchens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f1ebeb80;
}
.explore-kitchens h1{
    color: rgb(61, 8, 8);
    font-weight: 500;
}
.explore-kitchen-text{
    max-width: 60%;
}
.explore-kitchen-list{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-kitchen-list::-webkit-scrollbar{
    display: none;
}
.explore-kitchen-list-item img{
    width: 7.5vw;
    min-width: 80px;
    height: 7.5vw; /* Ensure a square aspect ratio */
    min-height: 80px;
    object-fit: cover; /* Scale the image while maintaining aspect ratio */
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-kitchen-list-item p{
    margin-top: 10px;   
    font-size: max(1.4vw,16px);
    cursor: pointer;
    text-align: center;

}
.explore-kitchens hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: 1px solid;
}
.explore-kitchen-list-item .active{
    border: 3px solid rgb(61, 8, 8);
    padding: 2px;

}
@media (max-width:1050px){
    .explore-kitchen-text{
        max-width: 100%;
        font-size: 14px;
    }
}