.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e2e2e2;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 55px;
    color: rgb(61, 8, 8);
    font-size: 18px;
    margin-left: 30px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 10px;
}
.navbar button{
    background-color: transparent;
    font-size: 16px;    
    color: rgb(61, 8, 8);
    border: 1px solid rgb(61, 8, 8);
    padding: 10px 30px;
    border-radius: 50px;
    cursor:  pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: rgb(61, 8, 8);
    color: whitesmoke;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(61, 8, 8);
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
    margin-left: 10px;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.sign-in-btn{
    margin-left: 10px;
}
.profile-icon {
    width: 35px; /* Increased size for better visibility */
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgb(61, 8, 8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: 0.3s ease;
}